@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

$base-bgwhite: #e7e9ee;
$base-white: #ffffff;
$base-dwhite: #fdfdfe;
$base-blue: #3861fb;
$base-green: #16c784;

$base-red: #f40d30;
$base-gray: #d3d3d3;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

body {
  background-color: $base-bgwhite;
  // font-family: "Roboto", sans-serif;
}
