@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

// // // .chart-container{
// // //  position: relative;
// // //     margin-left: 35vw;
// // //     margin-right: 6vw;
// // //     margin-top: 5vh;
// // //  width: 60vw;

// // //  }

// // //  .table-row:hover {
// // //        background-color:#E5E4E2;
// // //  }
// .box-data_container{
//      display: flex; justify-content: flex-end;  align-items:center;
//          padding: 10px;
// }

.box-data {
  height: 21vh;
  border-radius: 8px;
  margin: 1vw;
  width: 19vw;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
   background-color: white;
}

.chart-box {
  width: 61vw;
  padding: 10px;
  margin-top: 1vh;
  //  float:right;
  //  align-items:center;

}

// .data-container {
//   background-color: #e7e9ee;
//   opacity: 0.4;
//   background-size: 6px 6px;
//   background-image: repeating-linear-gradient(
//     45deg,
//     #fafbfd 0,
//     #fafbfd 0.6000000000000001px,
//     #e7e9ee 0,
//     #e7e9ee 50%
//   );
// }


// .card-media__cryptoImg{
//   height:5px;
 

// }

// .text-body{
//   font-size:1vw;
//  font-family: 'Roboto', sans-serif;
//   font-weight:900;
// }

// .text-body_gray{
//   font-family: 'Roboto', sans-serif;
//   font-weight: 900;
//    font-size: 1.3vw;
//    color:#A6B0C3;
  
// }