



.coin_name {
  font-weight: bolder;
}

.coin_symbol {
  color: gray;
  text-transform: uppercase;
}



.btn-buy__coin {
  white-space: nowrap;
  background: #0066b2;
  color: #3861fb;
}

.link__details {
  text-decoration: none;
  white-space: nowrap;
}
.link__details:hover {
  text-decoration: none;
  background: rgba(8, 171, 247, 0.1);
  color: white;
  border-radius: 15px;
}

.coin_price {
  font-weight: 700;
}
.circulating_supply {
  display: inline-block;
  white-space: nowrap;

  text-transform: uppercase;
}

.coin-circulating_supply,
.coin-symbol {
  
  display: inline; 
}



.coin-symbol {
 
  color: blue;
}

.coin-search .MuiInputBase-root {
  background-color: white;
//  border-radius: 15px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
}

 .table-row:hover {
       background-color:#E5E4E2;
 }
